.Michael-brown {
    margin-top: 5px;

    .v-card {
        background: #fff;
        padding: 15px;
        margin: auto;
        max-width: 500px;
        min-height: 310px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;

        .name {
            font-size: 30px;
            padding-bottom: 2px;
            letter-spacing: 1.2px;
        }

        .service {
            color: #ff9f03;
            font-size: 20px;
            padding-bottom: 15px;
        }

        td {
            font-size: 20px;
            padding-right: 15px;
        }

        .check {
            color: #4bb17f;
            font-size: 20px;
            padding: 15px 0;
        }

        .contact {
            color: #a49e96;
        }
    }
}