.Amand-wilson {
    margin-top: 5px;
    background: #8d8c8c;

    .v-card {
        background: #fff;
        padding: 10px;
        margin: auto;
        max-width: 360px;
        min-width: 230px;
    }
}