/*=== abstracts css start === */
@font-face {
  font-family: "SourceSansProRegular";
  src: url(../font/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "RobotoSlab";
  src: url(../font/RobotoSlab-Regular.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "SourceSansProRegular";
  color: #000;
}

.bg-dark {
  background: #000;
}

.bg-gray {
  background: #e1e1e1;
}

.text-dark {
  color: #000;
}

.text-white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.border {
  border: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.border-top {
  border-top: 1px solid #000;
}

.border-left {
  border-left: 1px solid #000;
}

.border-right {
  border-right: 1px solid #000;
}

.p5 {
  padding: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.px5 {
  padding: 0 5px;
}

.pl5 {
  padding-left: 5px;
}

.py10 {
  padding: 10px 0;
}

.py15 {
  padding: 15px 0;
}

.pt5 {
  padding-top: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.px10 {
  padding: 0 10px;
}

.py5 {
  padding: 5px 0;
}

.p10 {
  padding: 10px;
}

.dg {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.place-center {
  place-items: center;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jca {
  justify-content: space-evenly;
}

.jcb {
  justify-content: space-between;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.h100 {
  height: 100%;
}

/*===// end of base css === */
/*=== layouts css start === */
/*===// end of layouts css === */
/*=== components css start === */
.paper {
  max-width: 21cm;
  margin: auto;
}

.visitor-control-resident-info .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visitor-control-resident-info .header img {
  max-width: 160px;
}
.visitor-control-resident-info .header .rt-text {
  width: 160px;
}

.Amand-wilson {
  margin-top: 5px;
  font-family: "RobotoSlab";
}
.Amand-wilson .v-card {
  background: #fff;
  padding: 10px;
  margin: auto;
  max-width: 460px;
  min-height: 230px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.Amand-wilson .v-card p {
  font-size: 16px;
  padding-bottom: 2px;
}
.Amand-wilson .v-card .values {
  font-size: 20px;
  padding-bottom: 10px;
}

.Michael-brown {
  margin-top: 5px;
}
.Michael-brown .v-card {
  background: #fff;
  padding: 15px;
  margin: auto;
  max-width: 500px;
  min-height: 310px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.Michael-brown .v-card .name {
  font-size: 30px;
  padding-bottom: 2px;
  letter-spacing: 1.2px;
}
.Michael-brown .v-card .service {
  color: #ff9f03;
  font-size: 20px;
  padding-bottom: 15px;
}
.Michael-brown .v-card td {
  font-size: 20px;
  padding-right: 15px;
}
.Michael-brown .v-card .check {
  color: #4bb17f;
  font-size: 20px;
  padding: 15px 0;
}
.Michael-brown .v-card .contact {
  color: #a49e96;
}

.parking-ticket {
  margin-top: 5px;
}
.parking-ticket .v-card {
  background: #fff;
  padding: 15px;
  margin: auto;
  max-width: 720px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.parking-ticket .v-card .header {
  padding-top: 10px;
  font-size: 40px;
  padding-bottom: 2px;
  letter-spacing: 1.2px;
}
.parking-ticket .v-card .inner-content {
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}
.parking-ticket .v-card p {
  font-size: 20px;
  padding: 10px 0;
}
.parking-ticket .v-card .contact {
  color: #a49e96;
}

.sarah-jones {
  margin-top: 5px;
}
.sarah-jones .v-card {
  background: #fff;
  padding: 35px;
  margin: auto;
  max-width: 550px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #000;
}
.sarah-jones .v-card .title {
  padding-top: 10px;
  font-size: 40px;
  color: #535353;
}
.sarah-jones .v-card .button-like {
  background: #1cdfaf;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  padding: 5px 50px;
  font-size: 25px;
}
.sarah-jones .v-card .time {
  font-size: 22px;
  font-weight: bold;
}

.incident-report .label {
  font-size: 12px;
}
.incident-report .value {
  font-size: 18px;
}
.incident-report label {
  font-size: 12px;
  margin-left: 2px;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */